<!DOCTYPE html>
<html>
  <body>
    <p>Hello {{username}}!</p>
	<p>Welcome to QingCloud App</p>
	<p>Your notify email address is {{notify_email}}</p>

    <script type="text/javascript">
        // notify qingcloud window to adjust iframe height
        if(parent.location != location && parent.postMessage) {
                window.addEventListener('load', function() {
                    var origin = 'https://console.qingcloud.com';
                    parent.postMessage(document.body.scrollHeight, origin);
                });
        }
    </script>
  </body>
</html>
